body { padding-top: 40px;}
.full_container{width:100%;height:100%;}

.brand img{height:30px;}
.navbar .brand {padding:0px;}
#map_canvas {
height:100%;
left:460px;
margin-right:460px;
}
#hide_left{float:right;}
#show_icon{
	position:absolute;
	z-index:98;
	background:-o-linear-gradient(top,  #3294DB,  #1C69A0);
	background:-moz-linear-gradient(top,  #3294DB,  #1C69A0);
	background:-webkit-gradient(linear, left top, left bottom,  from(#3294DB),  to(#1C69A0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3294DB', endColorstr='#1C69A0');
	color: white;
	padding: 10px;
	border-radius: 0 0 10px 0px;
}

.left_menu{
position:absolute;
background:white;
z-index:99;
height:100%;
color:#3294DB;
border-right:1px solid #3294DB;
}
#search_results {overflow-y:scroll;height:84%;}
.left_menu h4{padding-bottom:15px;}

.index_div{float:right;margin-right:15px;margin-bottom:0px;text-align:center;padding: 8px 20px 8px 14px;}
.index {float:right;font-size:24px;font-weight:bold;}
.indexName{font-size:18px;}
.price {font-size:18px;margin-top:20px;display:inline-block;}

.thumbnails > li {margin-bottom:0px;}

.real_estate {
border-bottom:1px solid #3294DB;
margin-top: 10px;
}

.classification { 
	position: relative;
	width: 120px;
	height: 17px;
}
.classification .cover {
	position: absolute;
	background: transparent url(../img/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 91px;
	height: 17px;
	z-index: 101;
}
.classification .star {
	position: absolute;
	background: transparent url(../img/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 17px;
	z-index: 102;
}

.next { right:100px;position:absolute;bottom:50px;z-index:99;}
.previous { left:550px; position:absolute;bottom:50px;z-index:99;}

.filter{
border-bottom:1px solid #3294DB;
padding:15px;
background:#D9EDF7;
width:440px;
}

#search {margin-bottom:0px;}
.search{position:absolute;left:50%;top:40px;z-index:99;width:480px;}
.search .active a {background:#1C69A0;border:none;color:white;}
.search .active a:hover{background:#1C69A0;border:none;color:white;}
.search li a {background:#eee}
.search  .tab-content{
background:-o-linear-gradient(top,  #3294DB,  #1C69A0);
background:-moz-linear-gradient(top,  #3294DB,  #1C69A0);
background:-webkit-gradient(linear, left top, left bottom,  from(#3294DB),  to(#1C69A0));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3294DB', endColorstr='#1C69A0');
padding:10px;}
.options h3 {color:white;border-bottom:1px solid white;margin-bottom: 15px;margin-top: 10px;}
.search td, th {color:white;}
.search table{margin-top:10px;margin-bottom:10px;}

.white{color:white;}
.white:hover{color:white;text-decoration:underline;}

.slider{
	width: 90px;
	float: left;
	margin-left: 10px;	
}
.ui-widget {font-size: 0.8em;}

.info{text-align:center;width:250px;overflow: hidden;}
.info img {max-width:180px;display:inline-block;margin-top:10px;max-height:150px}
.info a{display:block;margin-top:0px;}
.info span{display:block;font-size:12px;text-transform: capitalize;color:#777;}
.info .like_button {margin-top:7px;}
.info h2{margin:0;padding:0;color:#3294DB;font-size:20px;}

.thumbnail img{
	max-width: 130px;
	max-height: 100px;
	min-width: 130px;
	min-height: 100px;
}
.span_thumb{margin-left:10px;}
.real_estate_info {width:290px;}

#city_select { width:150px;}
.like_button{margin-top:8px;}
